.top-button {
    text-align: center;
    margin-top: 20%;
}

.title {
    text-align: center;
}

.top-wrapper {
    padding-top: 10%;
    padding-bottom: 10%;
}

.page-header {
    text-align: center;
}

